# Archivos sensibles
.env
.env.local
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
venv39/
env/
.venv/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Django
*.sqlite3
media/
staticfiles/
static/
